<router-outlet></router-outlet>

<mat-toolbar>Perfil</mat-toolbar>
<div class="example-container mat-elevation-z8">
    <mat-form-field>
        <input matInput placeholder="Usuario" [(ngModel)]="usuario" [readonly]="true">
    </mat-form-field>
    <mat-table [dataSource]="dataSource" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="nombreRol">
            <mat-header-cell *matHeaderCellDef mat-sort-header>ROL</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>