<mat-card>Ingrese los datos del signo vital</mat-card>
<form class="example-container" [formGroup]="form" #frmSignoVital="ngForm" (ngSubmit)="operar()">
    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Temperatura" formControlName="temperatura">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Ritmo" formControlName="ritmo">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Pulso" formControlName="pulso" >
    </mat-form-field>
    <mat-form-field>
        <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente"
            [formControl]=myControlPaciente formControlName="paciente">

        <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="mostrarPaciente"
            (optionSelected)="seleccionarPaciente($event)">
            <mat-option *ngFor="let p of pacienteFiltrados | async" [value]="p">
                {{p.nombres}} {{p.apellidos}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="frmSignoVital.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" type="button" routerLink="/signoVital">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>
</form>